# Maven directory
/target/

# scripts
run.sh
*.sh~

# logs
*.log

# java backups
*.class

# IDEs
*.iml
.idea/
*.classpath
*.project
*.settings/

# OS
.DS_Store
Thumbs.db

# other
libs/
data/library.db
